body{
  transition: all 0.5s ease;
  overflow-x: hidden;
  background-color: #fefff6!important;
  color: #333 !important;
  line-height: 1.6 !important;
  letter-spacing: 0.3px;
}
#myHeader{
  overflow: hidden !important;
}
.navbar-header{
  @media all and (max-width: 767px){
    padding-bottom: 20px !important;
  }
}
.nav{
  li{
    a{
      padding: 0 !important;
    }
  }
}
.header{
  width: 100% !important;
  background: white !important;
}
.read_more{
  .title {
  text-align: center;
  color: #C2A878;
}
.text {
  padding: 10px;
  font-size: 18px;
  color: #14281D;
}

.ellipsis {
  color: #14281D;
}
.more, .less {
  color: #355834;
  text-decoration: none;
  font-weight: bold;
  padding: 0 5px;
}
}
.top_contact{
  a:hover,a:focus{
      text-decoration:none!important;
  }
}
.footer-m{
    img{
    width: 130px!important;
    float: left;
    @media all and (max-width: 767px)
    {
      float: none;
      display: block;
      margin: 0px auto;
    }
    }

}
.navbar-default{
z-index: 1000 !important;
  .m-container{
    @media all and (max-width: 480px)
    {
      padding: 0px;
    }
    .navbar-brand{
      padding: 0px!important;
      img{
      width: 130px!important;
      @media all and (max-width: 767px)
      {
        margin-bottom: 5px;
      }
      }
      @media all and (max-width: 400px)
      {
        padding: 18px 0px;
      }
    }
    .menu-header-nav-container{
      .sf-menu{
         li {
           a{
             border-top: 0 !important;
             color: black;
             transition: all 0.25s ease 0s;
             &:hover{

             }
           }
         }
      }
    }
  }
  .navbar-toggle {
    @media all and (max-width: 767px)
    {
      margin-top: 17px;
    }
    @media all and (max-width: 400px)
    {
      margin-right: 0px;
    }
  }
}
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 0px!important;
}

.sticky {
  position: fixed!important;
  top: 0!important;
  width: 100%!important;
  // z-index: 1000 !important;
}

.sticky + .content {
  padding-top: 90px!important;
}
// -------------------------------------------------
.top_contact{
  background-color: black;
  overflow: hidden;
  ul{
    margin: 0px;
    list-style: none;
    display: inline-block;
    float: right;
    padding: 0px;

    li{
      display: inline-block;
      float: left;
      color: white;
      padding: 5px 0px;
      padding-left: 50px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      font-size: 13px;
        @media all and (max-width: 767px)
        {
                padding: 5px 10px;
                float: none;
        }
    }
    @media all and (max-width: 767px)
    {
      text-align: center;
      display: block;
      float: none;
    }
  }
}
.service{
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  height: 360px;
  @media all and (max-width:991px)
    {
      height: 550px;
    }
    @media all and (max-width:600px)
      {
        height: 450px;
      }
  img{
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
    // position: absolute;
    object-position: top;
    @media all and (max-width:991px)
      {
        height: 440px;
      }
      @media all and (max-width:600px)
        {
          height: 380px;
        }
  }
  .m-form{
    .selector{
      position: relative;
        select{
          -webkit-appearance: none!important;
        }
        .selector_img{
          position: absolute;
          right: 15px;
          top: 15px;
          width: 12px;
          height: 12px;
          z-index: 9;
          background-image: url(../img/arrow-point.png);
        }
    }
    .wpcf7-response-output {
    margin: 0px;
    padding:0px;
    border: none!important;
    }
    .wpcf7-not-valid-tip{
      display: none!important;
    }
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        color: #ff0000;
    }
    div.wpcf7-mail-sent-ok {
    color: #398f14;
      }
    span.wpcf7-not-valid-tip {
      margin-left: 5px;
      margin-top: 4px;
      color: #f00;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
      font-weight: 500;
      display: block;
    }
    position: absolute;
    top: 25px;
    width: 420px;
    background-color: white;
    padding: 40px;
    -webkit-box-shadow:0px 2px 10px 7px rgba(0, 0, 0, 0.02);
    -moz-box-shadow:0px 2px 10px 7px rgba(0, 0, 0, 0.02);
    box-shadow:0px 2px 10px 7px rgba(0, 0, 0, 0.02);
    @media all and (max-width:600px)
      {
        position: relative;
        width: 80%;
        margin: 0px auto;
      }
      @media all and (max-width:460px)
        {
          width: 90%;
        }
        @media all and (max-width:459px) and (min-width: 320px)
          {
            width: 100%;
            padding: 20px;
          }
    .form-head{
      img{
        display: inline-block;
      }
      h4{
        margin-top: 15px;
        margin-bottom: 23px;
        font-family: 'Quicksand', sans-serif;
        font-size: 21px;
        font-weight: 400;
        span{
          font-weight: bold;
        }
      }
    }
    .s-form{
      ::placeholder{
        color: #959595;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 400;
        font-style: italic;

      }
      form{
         br{
           display: none!important;
         }
         .bot{
           br{
             display: block!important;
           }
         }
         label{
           margin: 0px;
           display: block;
           padding:2px 0 8px 0 ;
         }

        select,input{
          box-shadow: none!important;
          border-radius: 0px!important;
          padding: 0px 10px;
          font-family: 'Quicksand', sans-serif;
          font-size: 16px;
          color: #939393;
          font-weight: 400;
        }

        .full-field{
          select,input{
            border: none;
            -webkit-appearance: none!important;
            box-shadow: none!important;
            border-radius: 0px!important;
            background: white;
            width: 100%;
            height: 42px;
            outline: none !important;

          }
        }
        .full-border-div{
          border: 1px solid;
          border-color: #e4e4e4;
        }
        .full-border{
          input{
            border: 1px solid !important;
            border-color: #e4e4e4 !important;
            box-shadow: none!important;
            border-radius: 0px!important;
          }
        }
            .border-bottom{
              select,input{
                border: none;
                box-shadow: none!important;
                border-radius: 0px!important;
                border-bottom:1px solid;
                border-color: #e4e4e4;
              }
            }
            .border-bottom{
              select,input{
                border: none;
                box-shadow: none!important;
                border-radius: 0px!important;
                border-bottom:1px solid;
                border-color: #e4e4e4;
              }
            }
      }
      input[type=submit]{
        width: 100%;
        height: 42px;
        background-color: #ef4800;
        text-align: center;
        border: none;
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        text-shadow: none;
        font-weight: bold;
      }
      p{
        margin-top: 25px;
        color: #939393;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        a{
          color: #939393;
          font-weight: bold;
          font-size: 15px;
          text-decoration: underline;
          &:hover{
            color: #646464;
          }
        }
      }
      // -------------------------------------------------
      p{
        margin: 0px;
      }
    }
  }
}
.navbar{
    box-shadow: 0 3px 7px 0px rgba(0, 0, 0, 0.08)!important;
    border-radius: 0px!important;
    height: auto!important;
    border: none!important;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 95px !important;
    margin-bottom: 0 !important;
      .navbar-nav{
            li{
                a{
                  color: #000!important;
                  font-family: 'Quicksand', sans-serif;
                  font-size: 15px!important;
                  text-shadow: none;
                  font-weight: 500!important;
                  text-transform: capitalize!important;
                  padding-top: 25px !important;
                  letter-spacing: 1px;
                  margin-left: 42px;
                  &:hover{
                    border-bottom-color:transparent!important;
                }
                  @media all and(max-width: 767px){
                    padding-top: 10px !important;
                    margin-left: 18px;
                  }
                }
                @media all and (max-width: 767px)
                {
                  padding-top: 10px;
                }
                @media all and (min-width: 768px)and (max-width: 990px)
                {
                  margin-left: 6px !important;
                }
                &:hover{
                  a{
                    color: #9a9a9a!important;
                  }
                }
            }
            .active{
              a{
                border-color: transparent!important;
              }
        }
        @media all and(max-width: 767px){
          margin: 0 -15px !important;
          padding-bottom: 15px;
        }
      }
      .navbar-brand{
        font-size: 24px!important;
        padding: 18px 15px;
      }
}
.back_wrapper{
    background-color: #fefff6;
    @media all and (max-width: 902px)
    {
      padding-bottom: 0;
    }
}
.m-container{
    position: relative;
    max-width: 1350px;
    margin: 0px auto;
    padding: 0px 25px;
}
.hw-carousel{
    .carousel{
      .carousel-caption{
        position: static!important;
      }
        display: inline-block;
        background-color: transparent;
        width: 600px;
            @media all and(max-width: 1133px)
              {
                width: 500px;
              }
            @media all and(max-width: 902px)
              {
                width: 100%;
              }
        .carousel-inner{
            .item{
                .carousel-caption{
                    right: 0px;
                    left: 0px;
                    @media all and (max-width: 1133px)
                      {
                        margin-left: -10px;
                      }
                    @media all and (max-width: 902px)
                      {
                        left: 0px;
                      }
                    .index_col{
                        width: 15%;
                        display: inline-block;
                        float: left;
                        padding: 20px;
                        border-right: 1px solid;
                        border-color: #cccdcb;
                        margin-right:35px;
                        margin-top: 6px;
                        h1{
                            margin: 0px;
                            font-family: 'Quicksand', sans-serif;
                            font-size:32px;
                            text-shadow: none;
                            font-weight:bold;
                            color: #ef4800;
                        }
                        @media all and (max-width: 902px)
                          {
                            width: 80px;
                            margin-right: 30px;
                             margin-top: 30px;
                          }
                          @media all and (max-width: 600px)
                            {
                              margin-right: 25px;
                            }
                          @media all and (max-width: 490px)
                            {
                              display: none;
                            }
                    }
                    .desp_txt{
                        width: 78%;
                        display: inline-block;
                        float: left;
                        p{
                            overflow: hidden;
                            height: 160px;
                            color: #939393;
                            font-family: 'Quicksand', sans-serif;
                            font-size: 14px;
                            text-shadow: none;
                            font-weight: 400;
                            line-height: 23px;
                            text-align: left;
                            @media all and (max-width: 991px)
                            {
                              font-size: 13px;
                              line-height: 20px;
                            }

                             @media all and (max-width: 902px)
                              {
                                margin-top: 30px;
                              }
                        }
                        @media all and(max-width: 991px){
                          text-align: center;
                          width: 100%;
                          float: none;
                        }
                    }
                }
            }
        }
        .carousel-indicators{
            left: 0%;
            margin-left: -26px;
            bottom: -15px;
            li {
                display: inline-block;
                width: 9px;
                height: 9px;
                margin: 2px;
                text-indent: -999px;
                cursor: pointer;
                background-color:#d0d1d0;
                border: 1px solid #d0d1d0;
                border-radius: 10px;
            }
                .active {
                    width: 9px;
                    height: 9px;
                    border: 1px solid #ef4800;
                    background-color: #ef4800;
            }
            @media all and(max-width: 902px)
              {
                width: 100%;
                left: 0%;
                margin-left: 0px;
                bottom: -35px;
              }
        }
    }
}

.how_it_works{
  position: relative;
  padding-top: 170px;
  @media all and (max-width: 991px)
 {
  overflow: inherit;
 }
    @media all and (max-width: 902px)
   {
     padding-top: 90px;
   }
    .how_it_back{
      position: absolute;
      background-color: #f9faf8;
      height: 450px;
      width: 100%;
      opacity: .8;
      @media all and (max-width: 1117px){
            height: 405px;
      }
      @media all and (max-width: 991px)
       {
         height: 385px;
       }
       @media all and (max-width: 902px)
        {
            height: 420px;
        }
        @media all and (max-width: 500px)
         {
             height: 450px;
         }
         @media all and(max-width: 425px){
           height: 535px;
         }
    }
    .hw_left{
        float: left;
          width: 40%;
        @media all and (max-width: 991px)
         {
           display: none;
         }
        img{
          -webkit-box-shadow:0px 2px 10px 7px rgba(0, 0, 0, 0.02);
          -moz-box-shadow:0px 2px 10px 7px rgba(0, 0, 0, 0.02);
          box-shadow:0px 2px 10px 7px rgba(0, 0, 0, 0.02);
          margin-top: -37px;
          height: 525px;
          max-width: 100%;
          margin-bottom: 15px;
          @media all and(max-width: 1117px){
              height: 480px;
          }
            @media all and(max-width: 1041px)
           {
                  margin-top: -32px;
                 height: 449px;
           }
           @media all and(max-width: 921px)
          {
            margin-top: -22px;
            height: 426px;
          }
        }
    }
    .how-right{
      float: left;
      width: 600px;
      margin-left: 40px;
      @media all and(max-width: 1117px){
        margin-left: -38px;
        width: 58%;
      }
      @media all and(max-width: 991px){
        float: none;
        width: 100%;
        margin-left: 0;
      }
      h1{
        line-height: 40px;
        margin-top: 40px;
        margin-bottom: 45px;
        margin-left: 40px;
        font-family: 'Quicksand', sans-serif;
        font-size: 37px;
        font-weight: normal !important;
        @media all and(max-width: 1117px){
          line-height: 28px;
          font-size: 30px;
        }
        br{
            @media all and (max-width: 991px)
              {
                display: none;
              }
          }
          @media all and (max-width: 991px)
          {
            margin-left: 0;
            text-align: center;
          }
        span{
            font-weight: bold;
            br{
             @media all and (max-width: 902px)
             {
               display: none;
             }
           }
        }
         @media all and(max-width: 991px)
         {
               line-height: 30px;
               font-size: 30px;
               margin-bottom: 16px;
         }
         @media all and(max-width: 935px)
         {
               line-height: 26px;
               font-size: 26px;
               margin-bottom: 0;
               margin-top: 55px;
         }
      }
      .how-right-contents{
        display: flex !important;
        .index_col{
          width: 15%;
          padding: 20px;
          border-right: 1px solid;
          border-color: #cccdcb;
          margin-right: 35px;
          margin-top: 6px;
          line-height: 1.6;
          letter-spacing: 0.3px;
          max-height: 80px;
          @media all and(max-width: 991px){
            margin-top: 50px;
          }
          @media all and(max-width: 490px){
            display: none;
          }
          h2{
            margin: 0px !important;
            font-family: 'Quicksand', sans-serif !important;
            font-size: 32px !important;
            text-shadow: none !important;
            font-weight: bold !important;
            color: #ef4800 !important;
            letter-spacing: 1.25px;
            line-height: 40px;
            text-align: center;
          }
        }
        .desp_txt{
          @media all and(max-width: 991px){
            margin-top: 63px;
          }
          p{
            overflow: hidden;
            height: 195px;
            color: #939393;
            font-family: 'Quicksand', sans-serif;
            font-size: 14px;
            text-shadow: none;
            font-weight: 400;
            line-height: 23px;
            text-align: left;
            padding-top: 0;
          }
          ul{
            color: #939393;
            text-shadow: none;
            padding: 0px;
            padding-left: 14px;
            font-size: 12px;
            text-align: left;
            height: 210px;
            font-family: 'Quicksand', sans-serif;
            line-height: 24px;
            @media all and(max-width: 425px){
              height: 287px;
            }
          }
          li{
                font-size: 14px!important;
                line-height: 24px;
          }
        }
      }
      .slick-dots{
          text-align: left !important;
          bottom: 0 !important;
          left: 130px;
          width: auto !important;
          @media all and(max-width: 991px){
          text-align: center !important;
          left: 0;
          width: 100% !important;
          }
            li {
                margin: 0 !important;
            }
            @media all and(max-width: 1117px){
              bottom: 5px !important;
            }
            @media all and(max-width: 425px){
              bottom: -30px !important;
            }
      }
      .slick-list{
        padding: 0 !important;
      }
    }
    .hw_rit{
        margin-left: 53px;
        display: inline-block;
        float: left;
        h1{
            line-height: 40px;
            margin-top: 40px;
            margin-bottom: 25px;
            margin-left: 30px;
            font-family: 'Quicksand', sans-serif;
            font-size: 37px;
            font-weight: normal !important;
            br{
                @media all and (max-width: 902px)
                  {
                    display: none;
                  }
              }
              @media all and (max-width: 902px)
              {
                margin-left: 0;
                text-align: center;
              }
            span{
                font-weight: bold;
                br{
                 @media all and (max-width: 902px)
                 {
                   display: none;
                 }
               }
            }
             @media all and(max-width: 991px)
             {
                   line-height: 30px;
                   font-size: 30px;
                   margin-bottom: 16px;
             }
             @media all and(max-width: 935px)
             {
                   line-height: 26px;
                   font-size: 26px;
                   margin-bottom: 0;
                   margin-top: 55px;
             }
         }
         @media all and(max-width: 1033px)
         {
               margin-left: 0;
         }
         @media all and (max-width: 902px)
         {
           float: none;
           width: 100%;
           margin-left: 0px;
         }
        }
    }

.about-us{
    clear: both;
    padding-top: 70px;
   @media all and (max-width: 991px)
   {
         padding-top: 100px;
   }
   @media all and (max-width: 767px)
   {
         padding-top: 61px;
   }
  .row{
    .img-col{
      img{
        width: 85%;
        @media all and (max-width: 1024px)
       {
           width: 100%;
       }
       @media all and (max-width: 991px)
       {
         margin: 0px auto;
         width: 65%;
         margin-top: 35px;
       }
       @media all and (max-width: 767px)
       {
         width: 100%;
       }
      }
    }
    .txt-col{
      h1{
        line-height: 40px;
        margin-top: 40px;
        font-family: 'Quicksand', sans-serif;
        font-size: 37px;
        font-weight: 400;
        margin-bottom: 30px;
        span{
          font-weight: bold;
        }
        br
         {
           @media all and (max-width: 991px)
           {
               display: none;
           }
         }
         @media all and (max-width: 991px)
         {
           text-align: center;
         }
         @media all and (max-width: 551px)
         {
           font-size: 32px;
           line-height: 33px;
         }
         @media all and (max-width: 487px)
         {
           font-size: 28px;
         }
         @media all and (max-width: 437px)
         {
           font-size: 26px;
         }
         @media all and (max-width: 377px)
         {
           margin-bottom: 21px;
         }

      }
      p{
        padding: 0px;
        color: #939393;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        text-shadow: none;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        margin-bottom: 12px;
        @media all and (max-width: 437px)
       {
         font-size: 14px;
       }
      }
      a{
        @media all and (max-width: 437px)
        {
          font-size: 14px;
        }
        color: #939393;
        font-weight: bold;
        font-size: 15px;
        text-decoration: underline;
        display: block;
        padding: 0px;
        margin-top: 20px;
        &:hover{
          color: #646464!important;
        }
      }
    }
  }
}
.why-us{
  clear: both;
  padding: 100px 0px;
  padding-bottom: 0px;
  background-color:#fefff6;
  .col-xs-offset-2{
    @media all and(max-width: 550px)
    {
        margin-left: 0px!important;
    }
    @media all and(min-width: 768px)
    {
        margin-left: 0px!important;
    }
  }
  .single_col_why{
  height: 175px;
  margin-top: 50px;
  @media all and(max-width: 550px)
  {
      width: 50%;
      margin-top: 5px;
  }
  @media all and(max-width: 450px)
  {
      width: 100%;
      margin-top: 0px;
  }
  }
   @media all and(max-width: 1024px)
   {
     padding-bottom: 100px;
     padding-top: 120px;
   }
   @media all and(max-width: 767px)
   {
     padding-bottom:60px;
   }
   @media all and(max-width:550px)
   {
     padding-bottom:40px;
   }
  .why-us-head{
    letter-spacing: 3px;
    line-height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;
    font-weight: 400;
    border-bottom: 2px solid;
    border-color: #eff0e8;
    padding-bottom: 22px;
    margin-bottom: 55px;
    span{
      font-weight: bold;
    }
    @media all and (max-width: 991px)
    {
      text-align: center;
    }
    @media all and (max-width: 767px)
    {
          font-size: 34px;
    }
    @media all and (max-width: 348px)
    {
          font-size: 31px;
    }
  }
    img{
       margin: 0 auto;
       width: 75px;
    }
    h1{
      font-family: 'Quicksand', sans-serif;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1.25px;
      @media all and (max-width: 991px)
      {
        font-size: 18px;
      }
      @media all and (max-width: 767px)
      {
        font-size: 15px;
      }
    }
    p{
      color: #939393;
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
      text-shadow: none;
      font-weight: 400;
      line-height: 23px;
      text-align: left;
      margin-bottom: 12px;
      transition: all 0.25s ease 0s;
      @media all and (max-width: 991px)
      {
            text-align: center;
      }
    }
}
.contact-us{
  padding: 100px 0px;
  background-color:#fefff6;
  padding-top: 130px;
  .single_row{
    @media all and(max-width: 900px)
    {
      float: none!important;
      width: 100%!important;
      margin-bottom: 30px;
    }
  }
  .phone_block,.email_block{
    a{
      &:hover,&:focus{
        text-decoration: none!important;
      }
    }
    p{
      &:hover{
        color: #9a9a9a!important;
        transition: all 0.25s ease 0s;
      }
    }
  }
  @media all and (max-width: 767px)
  {
    padding: 60px 0px 70px;
  }
  .row{
    margin: 0px!important;
  }
  .email_block,.addres_block,.phone_block{
    position: relative;
    @media all and (max-width: 767px)
    {
      margin-bottom: 30px;
    }
    img{
      position: absolute;
      top: 5px;
    }
    .data_block{
      margin-left: 60px;
      @media all and (max-width: 767px)
      {
        margin-left: 70px;
      }
    }
    .contact-align3{
      padding-top: 18px;
    }
    .contact-align{
      padding-top: 10px;
      p{
        cursor: pointer;
      }
    }
  }

  @media all and (max-width: 767px)
  {
    padding-top: 109px;
  }

  h1{
    letter-spacing: 3px;
    line-height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;
    font-weight: 400;
    margin-bottom:70px;
        @media all and (max-width: 425px)
          {
            margin-bottom: 48px;
            text-align: center;
          }
    }
  p{
    font-family: 'Quicksand', sans-serif;
    margin:-4px;
    font-size: 15px;
    color: black;
    font-weight: 500;
    padding: 0 !important;
    @media all and(max-width: 942px)
    {
          font-size: 14px;
    }
    @media all and(max-width: 885px)
    {
          font-size: 13px;
    }
    @media all and (max-width: 818px)
    {
      font-size: 12px;
    }
    @media all and (max-width: 991px)
    {
      font-size: 14px;
    }
  }
}
.footer-m{
  .m-container{
    overflow: hidden;
  }
  background-color: #000000;
  padding: 35px 0px;
  .site-title{
        display: inline;
    a{
      font-family: 'Josefin Sans', sans-serif!important;
      color: white;
      font-family: inherit;;
      font-size: 24px !important;
      font-weight: 600;
      letter-spacing: 1.25px;
      line-height: 25px;

    }
  }
  .footer_nav{
    .menu-footer-menu-container{
      @media all and(max-width: 767px)
      {
        text-align: center !important;
      }
    }
    .menu{
      list-style: none;
      padding: 0px;
      display: inline-block;
      float: right;
      margin-top:20px;
        @media all and(max-width: 767px)
        {
          float: none;
          display: inline-block;
        }
      li{
        display: inline-block;
        float: left;
        a{
          font-family: 'Quicksand', sans-serif;
          font-size: 15px !important;
          text-shadow: none;
          font-weight: 500 !important;
          text-transform: capitalize !important;
          color: white;
          padding: 15px 20px;
          &:hover,&:focus{
            text-decoration: none;
          }
          @media all and (max-width: 783px)
          {
            padding: 15px 13px;
          }
          @media all and (max-width: 516px)
          {
            padding: 15px 6px;
          }
          &:hover{
            color: #989898;
          }
        }
        @media all and (max-width: 516px) and (min-width: 320px)
        {
          padding: 6px 0px;
          display:block;
          float: none;
        }
      }
      @media all and (max-width: 516px) and (min-width: 320px)
      {
        margin-left: 10px;
      }
    }
  }
  .tm-logo{
    padding-right: 20px;
    @media all and(max-width: 767px){
      width: 278px;
      margin: 0 auto;
    }
      h6{
            float: right;
            @media all and(max-width: 767px){
              float: none;
            }
            span{
              float: left;
              margin-top: 17px;
              margin-right: 6px;
              font-size: 12px;
              font-weight: normal;
              text-transform: none;
              color: white;
            }
            img{
              width: 115px !important;
              float: left;
            }
      }
  }
}
.clients{
  .client-list{
    margin-left: 430px;
    margin-top: -50px;
    float: left;
    display: inline-block;
      @media all and (max-width: 991px)
      {
        margin-left: 0px;
        margin-top: 70px;
        float: none;
        display: block;
      }
      @media all and (max-width: 600px)
      {
        margin-top:135px;
      }
    h1{
      margin-left: 23px;
      font-family: 'Quicksand', sans-serif;
      font-size: 23px !important;
      text-shadow: none;
      font-weight: 400 !important;
      margin-bottom: 35px;
      span{
        font-weight: bold;
      }
      @media all and (max-width: 991px)
      {
        text-align: center;
        margin-bottom: 35px;
        margin-left: 0;
      }
    }
    .slick-slider{
      padding: 0px!important;
      padding-top: 10px!important;
      width: 900px!important;
      @media all and (max-width:991px)
        {
          margin-bottom: 0px;
        }
        @media all and(max-width: 1360px)and (min-width: 1200px)
          {
            width: 745px!important;
          }
          @media all and(max-width: 1199px)and (min-width: 991px)
            {
              width: 530px!important;
            }
            @media all and(max-width: 991px)
              {
                width: 100%!important;
              }
      .slick-prev{
        display: none!important;
      }
      .slick-next{
        display: none!important;
      }
      img{
        padding: 0px;
        width: 80px!important;
        @media all and(max-width: 425px){
          width: 55px!important;
        }
      }
      .slick-dots{
        li{
          button{
            &::before{
              font-size: 36px !important;
            }
          }
        }
      }
    }
  }
}
.testimonal-carousel{
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 90px;
  width: 100%;
  background-image: url(../images/test_back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media all and(max-width: 902px)
    {
      margin-top: 160px;
    }
  .test_head{
    color: white;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 66px;
    span{
      font-weight: bold;
    }
  }
  .single_testimonals{
    background-color: white;
    min-height: 420px;
    text-align: center;
    padding: 25px 15px;
    @media (max-width: 1420px){
          min-height: 450px;
    }
    @media (max-width: 1310px){
          min-height: 475px;
    }
    @media (max-width: 1230px){
          min-height: 491px;
    }
    @media (max-width: 1130px){
          min-height: 550px;
    }
    @media (max-width: 990px){
      min-height: 475px;
    }
    @media (max-width: 820px){
      min-height: 491px;
    }
    @media all and (max-width: 767px){
          min-height: 416px;
    }
    @media all and(max-width: 527px){
          min-height: 470px;
    }
    @media all and(max-width: 450px){
          min-height: 550px;
    }
    @media all and(max-width: 360px){
          min-height: 651px;
    }
    img{
      object-fit: cover;
      object-position: center;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      display: inline-block;
    }
    h1{
      letter-spacing: 0px;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Quicksand', sans-serif;
      margin-bottom: 0px;
      text-transform: capitalize;
    }
    h3{
    margin: 4px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1.25px;
    }
    h2{
      p{
        line-height: 20px;
        font-weight: 400;
        font-family: 'Quicksand', sans-serif;
        font-style: italic;
        font-size: 15px;
        letter-spacing: 1.25px;
        color: #333;
      }
    }
  }
  .slick-slider{
    overflow: hidden;
    .slick-prev{
      display: none!important;
    }
    .slick-next{
      display: none!important;
    }
  }
}
.ride-input-form{
  background:transparent!important;
  width: 100%;
  border: none;
  color: #a52a2a;
  padding: 0px;
  span{
    display: none;
  }
  input[type=button]{
    margin-top: 20px;
    width: 100%;
    height: 42px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
    background: #ef4800;
    color: white!important;
    font-weight: 600!important;
    letter-spacing: 1px;
    &:hover{
      background: #ef4800;
      color: white!important;
    }
  }
}
